@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut{
  0% { opacity: 1;}
  100% { opacity: 0 }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a, .s{
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover, .s:hover .sub {
  background-color: rgb(151, 42, 133);
  border-radius: 10px 10px 0px 0px;
  transition: 0.5s;
  margin-right: 10px;
  margin-left: 5px;
  position: relative;
}

li.s {
  display: inline-block;
}

.sub1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 10px 10px 10px;
  margin-left: 10px;
  animation: fadeOut;
  animation-duration: 0.5s;
}

.sub1 a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-left: 10px;
}

.sub1 a:hover {
  background-color: #f1f1f1;
  display:block;
}

.s:hover .sub1 {
  display: block;
  margin-left: 88px;
  margin-top: -40px;
  animation: fadeIn 5s;
  animation-duration: 0.5s;
}
.najger{
  display: inline-block;
  margin-top: 10px;
  }
body{
  background-image: linear-gradient(to right, rgb(88, 38, 76) , rgb(35, 29, 61));
}
.ul{
  padding: 10px;  
}
nav{
  height: 25%;
  background-color: rgb(39, 16, 39);
  border-radius: 10px;
  margin: 0px;
  width: 6%;
  padding-bottom: 33%;
}
.subx{
  padding-right: 5px;
}